footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: relative; /* Changed from absolute to fixed */
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 8; /* Ensure it's above other elements */
}

/* Add this to ensure that the content is not hidden behind the footer */
body, main {
    margin-bottom: 3rem; /* Adjust this value to the height of your footer */
}

